<div
  style="width: 393px; height: 874px; position: relative; overflow: hidden; background: #e4e4e4;"
>
  <div
    style="width: 105px; height: 26px; position: absolute; left: 275px; top: 122px; border-radius: 20px;"
  >
    <div
      style="width: 105px; height: 26px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #830e1e;"
    ></div>
    <p
      style="width: 105px; height: 26px; position: absolute; left: -5px; top: -12px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
    >
      넵! 반갑습니다!
    </p>
  </div>
  <div
    style="width: 127px; height: 40px; position: absolute; left: 255px; top: 161px; border-radius: 20px;"
  >
    <div
      style="width: 127px; height: 40px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #830e1e;"
    ></div>
    <p
      style="width: 127px; height: 40px; position: absolute; left: -5px; top: -13px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
    >
      <span
        style="width: 127px; height: 40px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
      >
        혹시, 사과탕후루 </span
      ><br /><span
        style="width: 127px; height: 40px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
      >
        좋아하세요?</span
      >
    </p>
  </div>
  <div
    style="width: 83px; height: 26px; position: absolute; left: 286px; top: 307px; border-radius: 20px;"
  >
    <div
      style="width: 83px; height: 26px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #830e1e;"
    ></div>
    <p
      style="width: 83px; height: 26px; position: absolute; left: -5px; top: -12px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
    >
      아 진짜요??
    </p>
  </div>
  <div
    style="width: 122px; height: 27px; position: absolute; left: 249px; top: 346px; border-radius: 20px;"
  >
    <div
      style="width: 122px; height: 27px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #830e1e;"
    ></div>
    <p
      style="width: 122px; height: 27px; position: absolute; left: -5px; top: -12px; font-size: 14px; font-weight: 700; text-align: left; color: #fff;"
    >
      저도 엄청 좋아해요!
    </p>
  </div>
  <div
    style="width: 109px; height: 29px; position: absolute; left: 44px; top: 83px; border-radius: 20px;"
  >
    <div
      style="width: 109px; height: 29px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
    
  </div>
  <div
    style="width: 109px; height: 29px; position: absolute; left: 44px; top: 83px; border-radius: 20px;"
  >
    <div
      style="width: 109px; height: 29px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
    <p
      style="width: 109px; height: 29px; position: absolute; left: -5px; top: -13px; font-size: 16px; font-weight: 700; text-align: left; color: #000;"
    >
      안녕하세요!
    </p>
  </div>
  <p
    style="width: 81px; height: 26px; position: absolute; left: 39px; top: 57px; font-size: 10px; font-weight: 700; text-align: left; color: #000;"
  >
    장원준
  </p>
  <div
    style="width: 24px; height: 24px; position: absolute; left: 11px; top: 59px; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
  >
    <img
      src="static/img/유저 사진_1.png"
      style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
    /><img
      src="static/img/유저 사진_1.png"
      style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 24px; object-fit: cover;"
    />
  </div>
  <div
    style="width: 109px; height: 29px; position: absolute; left: 44px; top: 410px; border-radius: 20px;"
  >
    <div
      style="width: 109px; height: 29px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
  
  </div>
  <div
    style="width: 155px; height: 29px; position: absolute; left: 44px; top: 410px; border-radius: 20px;"
  >
    <div
      style="width: 155px; height: 29px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
    <p
      style="width: 155px; height: 29px; position: absolute; left: -5px; top: -13px; font-size: 16px; font-weight: 700; text-align: left; color: #000;"
    >
      3교시에 먹으러 가죠?
    </p>
  </div>
  <div
    style="width: 256px; height: 167px; position: absolute; left: 44px; top: 455px; border-radius: 20px;"
  >
    <div
      style="width: 256px; height: 167px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
    <p
      style="width: 256px; height: 167px; position: absolute; left: -5px; top: 0px; font-size: 16px; font-weight: 700; text-align: left; color: #000;"
    >
      <br /><br /><br />
    </p>
  </div>
  <div
    style="width: 256px; height: 116px; position: absolute; left: 127px; top: 638px; border-radius: 20px;"
  >
    <div
      style="width: 256px; height: 116px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
    <p
      style="width: 256px; height: 116px; position: absolute; left: -5px; top: 0px; font-size: 16px; font-weight: 700; text-align: left; color: #000;"
    >
      <br /><br />
    </p>
  </div>
  <p
    style="width: 81px; height: 26px; position: absolute; left: 39px; top: 384px; font-size: 10px; font-weight: 700; text-align: left; color: #000;"
  >
    장원준
  </p>
  <div
    style="width: 24px; height: 24px; position: absolute; left: 11px; top: 386px; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
  >
    <img
      src="static/img/유저 사진_1.png"
      style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
    /><img
      src="static/img/유저 사진_1.png"
      style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 24px; object-fit: cover;"
    />
  </div>
  <div
    style="width: 109px; height: 29px; position: absolute; left: 44px; top: 245px; border-radius: 20px;"
  >
    <div
      style="width: 109px; height: 29px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
    <p
      style="width: 109px; height: 29px; position: absolute; left: -5px; top: -13px; font-size: 16px; font-weight: 700; text-align: left; color: #000;"
    >
      좋아하죠 ㅎㅎ
    </p>
  </div>
  <p
    style="width: 81px; height: 26px; position: absolute; left: 39px; top: 219px; font-size: 10px; font-weight: 700; text-align: left; color: #000;"
  >
    장원준
  </p>
  <div
    style="width: 24px; height: 24px; position: absolute; left: 11px; top: 221px; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
  >
    <img
      src="static/img/유저 사진_1.png"
      style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
    /><img
      src="static/img/유저 사진_1.png"
      style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 24px; object-fit: cover;"
    />
  </div>
  <div style="width: 75px; height: 41px; position: absolute; left: 220px; top: 574px;">
    <div
      style="width: 75px; height: 41px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #1c6ffd;"
    ></div>
    <p
      style="width: 75px; height: 41px; position: absolute; left: -5px; top: 0px; font-size: 14px; font-weight: 700; text-align: center; color: #fff;"
    >
      수락하기
    </p>
  </div>
  <p style="position: absolute; left: 130px; top: 649px; font-weight: 700; text-align: left;">
    <span style="font-size: 36px; font-weight: 700; text-align: left; color: #1c6ffd;"
      >축하해요!</span
    ><br /><br /><span style="font-size: 16px; font-weight: 700; text-align: left; color: #000;"
      >약속이 확정되었어요!</span
    >
  </p>
  <p style="position: absolute; left: 44px; top: 461px; font-weight: 700; text-align: left;">
    <span style="font-size: 24px; font-weight: 700; text-align: left; color: #239d83;"
      >장원준님이 </span
    ><br /><span style="font-size: 24px; font-weight: 700; text-align: left; color: #239d83;"
      >약속을 요청했어요!</span
    ><br /><br /><span style="font-size: 20px; font-weight: 700; text-align: left; color: #000;">
      [선배 탕후루 먹어요!]</span
    >
  </p>
  <div
    style="display: flex; justify-content: flex-start; align-items: flex-start; width: 357px; height: 37px; position: absolute; left: 18px; top: 790px; padding-bottom: 15px;"
  >
    <div
      style="display: flex; justify-content: center; align-items: center; flex-grow: 1; height: 30px; position: relative; overflow: hidden; gap: 8px; padding: 12px; border-radius: 6px; border-width: 1px; border-color: rgba(0,0,0,0.1);"
    >
    <h3>다음 대화는 예시입니다. </h3>
      <form action="/redirect" method="post">
        <button type="submit" class="image-button">메인으로 돌아가기</button>
      </form>
      </div>
    </div>
  </div>
</div>