<div style="width: 393px; height: 852px; position: relative; overflow: hidden; background: #fff;">
    <p
      style="width: 128px; height: 63px; position: absolute; left: -9px; top: 48px; font-size: 24px; font-weight: 700; text-align: center; color: #000;"
    >
      광운대
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: 15px; top: 121px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      친구와 함께 시간을 보내봐요!
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: -84px; top: 511px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      추천친구
    </p>
    <img
      src="static/img/image 2.png"
      style="width: 34px; height: 34px; position: absolute; left: 310px; top: 58px; object-fit: cover;"
    /><img
      src="static/img/image 3.png"
      style="width: 35px; height: 35px; position: absolute; left: 350px; top: 57px; object-fit: cover;"
    />
    <div
      style="width: 45px; height: 27px; position: absolute; left: 20px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 20px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 106px; height: 27px; position: absolute; left: 72px; top: 174px; border-radius: 15px; background: #1c6ffd;"
    ></div>
    <p
      style="position: absolute; left: 30px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      ALL
    </p>
    <div
      style="width: 73px; height: 27px; position: absolute; left: 183px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 73px; height: 27px; position: absolute; left: 264px; top: 163px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 194px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      같은 학과
    </p>
    <p
      style="position: absolute; left: 275px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      나의 그룹
    </p>
    <p
      style="position: absolute; left: 351px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      새로운 
    </p>
    <p
      style="position: absolute; left: 81px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      공강시간이 맞는
    </p>
    <div
      style="width: 347px; height: 75px; position: absolute; left: 23.84px; top: 225.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <img
      src="static/img/people_2 1.png"
      style="width: 30px; height: 30px; position: absolute; left: 24px; top: 124px; object-fit: cover;"
    />
    <div
      style="width: 41px; height: 41px; position: absolute; left: 44px; top: 244px; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
    >
      <img
        src="static/img/유저 사진_1.png"
        style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
      /><img
        src="static/img/유저 사진_1.png"
        style="width: 41px; height: 41px; position: absolute; left: -1px; top: -1px; border-radius: 24px; object-fit: cover;"
      />
    </div>
    <div
      style="width: 41px; height: 41px; position: absolute; left: 44px; top: 244px; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
    >
      <img
        src="static/img/유저 사진_1.png"
        style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
      /><img
        src="static/img/유저 사진_1.png"
        style="width: 41px; height: 41px; position: absolute; left: -1px; top: -1px; border-radius: 24px; object-fit: cover;"
      />
    </div>
    <p
      style="position: absolute; left: 109px; top: 205px; font-size: 40px; font-weight: 700; text-align: right; color: #000;"
    >
      이홍은
    </p>
    <div
      style="width: 55px; height: 27px; position: absolute; left: 303px; top: 254px; border-radius: 15px; background: #830e1e; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 319px; top: 246px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      삭제
    </p>
    <div
      style="width: 347px; height: 75px; position: absolute; left: 23.84px; top: 315.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="position: absolute; left: 109px; top: 295px; font-size: 40px; font-weight: 700; text-align: right; color: #000;"
    >
      이성용
    </p>
    <div
      style="width: 55px; height: 27px; position: absolute; left: 303px; top: 344px; border-radius: 15px; background: #830e1e; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 319px; top: 340px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      삭제
    </p>
    <div
      style="width: 347px; height: 75px; position: absolute; left: 23.84px; top: 405.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="display: flex; justify-content: flex-start; align-items: center; width: 39px; height: 37px; position: absolute; left: 46px; top: 334px; gap: 8px;"
    >
      <div
        style="flex-grow: 0; flex-shrink: 0; width: 39px; height: 39px; position: relative; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
      >
        <img
          src="static/img/유저 사진_2.png"
          style="width: 39px; height: 39px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
        />
      </div>
      <div
        style="flex-grow: 0; flex-shrink: 0; width: 40px; height: 30px; border-radius: 24px;"
      ></div>
    </div>
    <p
      style="position: absolute; left: 109px; top: 385px; font-size: 40px; font-weight: 700; text-align: right; color: #000;"
    >
      이웅락
    </p>
    <div
      style="width: 55px; height: 27px; position: absolute; left: 303px; top: 434px; border-radius: 15px; background: #830e1e; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 319px; top: 430px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      삭제
    </p>
    <div
      style="width: 55px; height: 27px; position: absolute; left: 303px; top: 434px; border-radius: 15px; background: #830e1e; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 319px; top: 430px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      삭제
    </p>
    <div
      style="width: 347px; height: 75px; position: absolute; left: 23.84px; top: 558.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="position: absolute; left: 109px; top: 540px; font-size: 40px; font-weight: 700; text-align: right; color: #000;"
    >
      김시선
    </p>
    <svg
      width="56"
      height="26"
      viewBox="0 0 56 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 301px; top: 586px;"
      preserveAspectRatio="none"
    >
      <path
        d="M0 13C0 5.8203 5.8203 0 13 0H43C50.1797 0 56 5.8203 56 13C56 20.1797 50.1797 26 43 26H13C5.8203 26 0 20.1797 0 13Z"
        fill="#1C6FFD"
      ></path>
    </svg>
    <p
      style="position: absolute; left: 313px; top: 580px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      팔로우
    </p>
    <div
      style="width: 347px; height: 75px; position: absolute; left: 23.84px; top: 648.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="position: absolute; left: 109px; top: 630px; font-size: 40px; font-weight: 700; text-align: right; color: #000;"
    >
      김수현
    </p>
    <svg
      width="56"
      height="26"
      viewBox="0 0 56 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 301px; top: 676px;"
      preserveAspectRatio="none"
    >
      <path
        d="M0 13C0 5.8203 5.8203 0 13 0H43C50.1797 0 56 5.8203 56 13C56 20.1797 50.1797 26 43 26H13C5.8203 26 0 20.1797 0 13Z"
        fill="#1C6FFD"
      ></path>
    </svg>
    <p
      style="position: absolute; left: 313px; top: 670px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      팔로우
    </p>
    <div
      style="width: 347px; height: 75px; position: absolute; left: 23.84px; top: 738.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="position: absolute; left: 109px; top: 725px; font-size: 40px; font-weight: 700; text-align: right; color: #000;"
    >
      박상현
    </p>
    <svg
      width="56"
      height="26"
      viewBox="0 0 56 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 301px; top: 766px;"
      preserveAspectRatio="none"
    >
      <path
        d="M0 13C0 5.8203 5.8203 0 13 0H43C50.1797 0 56 5.8203 56 13C56 20.1797 50.1797 26 43 26H13C5.8203 26 0 20.1797 0 13Z"
        fill="#1C6FFD"
      ></path>
    </svg>
    <p
      style="position: absolute; left: 313px; top: 760px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      팔로우
    </p>
    <div
      style="width: 40px; height: 40px; position: absolute; left: 46px; top: 426px; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
    >
      <img
        src="static/img/유저 사진_2.png"
        style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
      /><img
        src="static/img/유저 사진_2.png"
        style="width: 40px; height: 40px; position: absolute; left: -1px; top: -1px; border-radius: 24px; object-fit: cover;"
      />
    </div>
    <div
      style="width: 42px; height: 42px; position: absolute; left: 45px; top: 577px; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
    >
      <img
        src="static/img/유저 사진_2.png"
        style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
      /><img
        src="static/img/유저 사진_2.png"
        style="width: 42px; height: 42px; position: absolute; left: -1px; top: -1px; border-radius: 24px; object-fit: cover;"
      />
    </div>
    <div
      style="width: 42px; height: 42px; position: absolute; left: 45px; top: 757px; overflow: hidden; border-radius: 24px; background: rgba(0,0,0,0.1);"
    >
      <img
        src="static/img/유저 사진_2.png"
        style="width: 24px; height: 24px; position: absolute; left: -1px; top: -1px; border-radius: 100px; object-fit: cover;"
      /><img
        src="static/img/유저 사진_2.png"
        style="width: 42px; height: 42px; position: absolute; left: -1px; top: -1px; border-radius: 24px; object-fit: cover;"
      />
    </div>
    <img
      src="static/img/유저 사진_2.png"
      style="width: 42px; height: 39px; position: absolute; left: 43px; top: 668px; border-radius: 100px; object-fit: cover;"
    />
  </div>