<div
  style="width: 393px; height: 852px; position: relative; overflow: hidden; background: #1c6ffd;"
>
  <img
    src="image-1.png"
    style="width: 315px; height: 210px; position: absolute; left: 38px; top: 504px; border-radius: 30px; object-fit: cover;"
  />
  <p
    style="width: 300px; height: 179px; position: absolute; left: 47px; top: 134px; font-size: 40px; font-weight: 700; text-align: center; color: #fff;"
  >
    <span
      style="width: 300px; height: 179px; font-size: 40px; font-weight: 700; text-align: center; color: #fff;"
      >스시, 미소스시가 </span
    ><br /><span
      style="width: 300px; height: 179px; font-size: 40px; font-weight: 700; text-align: center; color: #fff;"
      >1등입니다.</span
    >
  </p>
  <p
    style="position: absolute; left: 120px; top: 313px; font-size: 20px; font-weight: 100; text-align: center; color: #fff;"
  >
    <span style="font-size: 20px; font-weight: 100; text-align: center; color: #fff;"
      >광운대 재학생 </span
    ><br /><span style="font-size: 20px; font-weight: 100; text-align: center; color: #fff;"
      >새우튀김 무료증정</span
    >
  </p>
  <div style="width: 123px; height: 48px; position: absolute; left: 135px; top: 402px;">
    <div
      style="width: 123px; height: 48px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
    <p
      style="width: 123px; height: 48px; position: absolute; left: -5px; top: 0px; font-size: 20px; font-weight: 700; text-align: center; color: #1c6ffd;"
    >
      더 알아보기
    </p>
  </div>
  <div
    style="width: 271px; height: 17px; position: absolute; left: 60px; top: 755px; border-radius: 30px; background: #fff;"
  ></div>
  <div
    style="width: 237px; height: 17px; position: absolute; left: 60px; top: 755px; border-radius: 30px; background: #932c3a;"
  ></div>
  <p
    style="position: absolute; left: 268px; top: 759px; font-size: 10px; font-weight: 700; text-align: center; color: #fff;"
  >
    70%
  </p>
  <p
    style="position: absolute; left: 162px; top: 782px; font-size: 10px; font-weight: 700; text-align: center; color: #fff;"
  >
    자동 로그인 중...
  </p>
</div>