<div style="width: 393px; height: 852px; position: relative; overflow: hidden; background: #fff;">
    <p
      style="width: 128px; height: 63px; position: absolute; left: -9px; top: 48px; font-size: 24px; font-weight: 700; text-align: center; color: #000;"
    >
      광운대
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: 17px; top: 116px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      번개 처럼 빠른 약속을 잡아보세요!
    </p>
    <img
      src="static/img/image 2.png"
      style="width: 34px; height: 34px; position: absolute; left: 310px; top: 58px; object-fit: cover;"
    /><img
      src="static/img/image 3.png"
      style="width: 35px; height: 35px; position: absolute; left: 350px; top: 57px; object-fit: cover;"
    /><img
      src="static/img/image 4.png"
      style="width: 30px; height: 30px; position: absolute; left: 12px; top: 121px; object-fit: cover;"
    />
    <div style="width: 55px; height: 55px; position: absolute; left: 222px; top: 164px;"></div>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 20px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 70px; top: 164px; border-radius: 15px; background: #1c6ffd;"
    ></div>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 120px; top: 164px; border-radius: 15px; background: #fff; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 30px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      ALL
    </p>
    <p
      style="position: absolute; left: 81px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      식사
    </p>
    <p
      style="position: absolute; left: 130px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      운동
    </p>
    <div
      style="width: 79px; height: 27px; position: absolute; left: 170px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 49px; height: 27px; position: absolute; left: 254px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 43px; height: 27px; position: absolute; left: 310px; top: 163px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 57px; height: 27px; position: absolute; left: 358px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 185px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      봉사활동
    </p>
    <p
      style="position: absolute; left: 261px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      스터디
    </p>
    <p
      style="position: absolute; left: 320px; top: 170px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      게임
    </p>
    <p
      style="position: absolute; left: 370px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      과제
    </p>
    <div
      style="width: 347px; height: 180px; position: absolute; left: 23.84px; top: 401.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="width: 185px; height: 35px; position: absolute; left: 32px; top: 545px; font-size: 12.500025749206543px; font-weight: 600; text-align: center; color: #000;"
    >
      비 오는데 짬뽕 먹으러 갈사람?
    </p>
    <div style="width: 42.4px; height: 17.5px; position: absolute; left: 309px; top: 554px;">
      <div
        style="width: 42px; height: 18px; position: absolute; left: -4.04px; top: -0.67px; border-radius: 3.37px; background: #830e1e;"
      ></div>
      <p
        style="width: 42px; height: 18px; position: absolute; left: -3.37px; top: 0px; font-size: 9.423095703125px; font-weight: 700; text-align: center; color: #fff;"
      >
        참여가능
      </p>
    </div>
    <form action="/schedule_page" method="post">
      <button type="submit" style="width: 347px; height: 180px; position: absolute; left: 23.84px; top: 593.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3; border-style: solid; cursor: pointer; padding: 0; border: none;">
          <div style="width: 347px; height: 180px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3; border-style: solid;">
          </div>
      </button>
    </form>
    <div style="width: 42.4px; height: 17.5px; position: absolute; left: 309px; top: 743px;">
      <div
        style="width: 42px; height: 18px; position: absolute; left: -4.04px; top: -0.67px; border-radius: 3.37px; background: #830e1e;"
      ></div>
      <p
        style="width: 42px; height: 18px; position: absolute; left: -3.37px; top: 0px; font-size: 9.423095703125px; font-weight: 700; text-align: center; color: #fff;"
      >
        참여가능
      </p>
    </div>
    <div
      style="width: 347px; height: 180px; position: absolute; left: 23.84px; top: 213.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 347px; height: 180px; position: absolute; left: 23.84px; top: 213.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="width: 185px; height: 35px; position: absolute; left: 20px; top: 356px; font-size: 12.500025749206543px; font-weight: 600; text-align: center; color: #000;"
    >
      마라탕 드시러 가실분???
    </p>
    <div style="width: 42.4px; height: 17.5px; position: absolute; left: 306px; top: 365px;">
      <div
        style="width: 42px; height: 18px; position: absolute; left: -4.04px; top: -0.67px; border-radius: 3.37px; background: #830e1e;"
      ></div>
      <p
        style="width: 42px; height: 18px; position: absolute; left: -3.37px; top: 0px; font-size: 9.423095703125px; font-weight: 700; text-align: center; color: #fff;"
      >
        참여가능
      </p>
    </div>
    <img
      src="static/img/image 14.png"
      style="width: 305.49px; height: 127.78px; position: absolute; left: 44.59px; top: 226.97px; border-radius: 14.32px; object-fit: cover;"
    />
    <p
      style="width: 222px; height: 42px; position: absolute; left: -14px; top: 732px; font-size: 12.5px; font-weight: 600; text-align: center; color: #000;"
    >
      선배 탕후루 먹어요!
    </p>
    <img
      src="static/img/image 11.png"
      style="width: 305px; height: 127px; position: absolute; left: 42px; top: 600px; border-radius: 10px; object-fit: cover;"
    /><img
      src="static/img/image 25.png"
      style="width: 308px; height: 129px; position: absolute; left: 42px; top: 409px; border-radius: 10px; object-fit: cover;"
    />
    <div
      style="width: 347px; height: 180px; position: absolute; left: 21.84px; top: 795.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <img
      src="static/img/image 26.png"
      style="width: 304px; height: 127px; position: absolute; left: 44px; top: 803px; border-radius: 10px; object-fit: cover;"
    />
  </div>