      
  <div style="width: 393px; height: 852px; position: relative; overflow: hidden; background: #fff;"></div>
  
  
  <form action="/redirect" method="post">
    <button type="submit" style="width: 273px; height: 37px; position: absolute; left: 72px; top: 711px; border: none; background: none;">
        <div
            style="width: 273px; height: 40px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #1c6ffd;"
        ></div>
        <p
            style="width: 200px; height: 35px; position: absolute; left: -25px; top: -7px; font-size: 20px; font-weight: 700; text-align: center; color: #fff9f9;"
        >이미, 회원이에요!
        </p>
    </button>
  </form>
   

    <!--Left를 조절하면, 멘트 사이즈 조절 가능!-->
    <form action="/redirect" method="post">
      <button type="submit" style="width: 273px; height: 37px; position: absolute; left: 72px; top: 659px; border-radius: 5px; background:none; border: none;">
          <div
              style="width: 273px; height: 40px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #830e1e;"
          ></div>
          <p
              style="width: 200px; height: 35px; position: absolute; left: -30px; top: -7px; font-size: 20px; font-weight: 600; text-align: center; color: #fff9f9;"
          >앗! 처음이에요
          </p>
      </button>
    </form>

    <p
      style="width: 300px; height: 179px; position: absolute; left: 59px; top: 193px; font-size: 40px; font-weight: 700; text-align: left; color: #830e1e;"
    >
      <span
        style="width: 300px; height: 179px; font-size: 40px; font-weight: 700; text-align: left; color: #830e1e;"
        >공강시간의 </span
      ><br /><span
        style="width: 300px; height: 179px; font-size: 40px; font-weight: 700; text-align: left; color: #830e1e;"
        >새로운 패러다임.</span
      >
    </p>
    <p
      style="position: absolute; left: 59px; top: 372px; font-size: 64px; font-weight: 700; text-align: left; color: #830e1e;"
    >
      KRAS
    </p>
    <img
      src="static/img/kras.png"
      style="width: 98px; height: 98px; position: absolute; left: 58px; top: 520px; object-fit: cover;"
    />
  </div>