<div style="width: 393px; height: 852px; position: relative; overflow: hidden; background: #fff;">
    <p
      style="width: 128px; height: 63px; position: absolute; left: -9px; top: 48px; font-size: 24px; font-weight: 700; text-align: center; color: #000;"
    >
      광운대
    </p>
    <p
      style="width: 222px; height: 42px; position: absolute; left: 15px; top: 461px; font-size: 20px; font-weight: 700; text-align: center; color: #000;"
    >
      지금 즐길 수 있는 컨텐츠
    </p>
    <img
      src="static/img/image 2.png"
      style="width: 34px; height: 34px; position: absolute; left: 310px; top: 58px; object-fit: cover;"
    />
    <form action="/matchtime" method="post">
      <button type="submit" style="width: 35px; height: 35px; position: absolute; left: 350px; top: 57px; object-fit: cover;">
      <img
        src="static/img/image 3.png"
        style="width: 35px; height: 35px; position: absolute; left: 350px; top: 57px; object-fit: cover;"
      />
      </button>
    </form>


    <form action="/lightning_meet" method="post">
      <button type="submit" style="width: 175px; height: 143px; position: absolute; left: 15px; top: 142px; border-radius: 30px; background: #1c6ffd; border: none;">
      </button>
    </form>

    <form action="/friend" method="post">
      <button type="submit" style="width: 175px; height: 132px; position: absolute; left: 15px; top: 293px; border-radius: 30px; background: #fff; border: #eaeaea;">
      </button>
    </form>

    <form action="/regular_meet" method="post">
      <button type="submit" style="width: 169px; height: 143px; position: absolute; left: 204px; top: 142px; border-radius: 30px; background: #830e1e; border: none;">
      </button>
    </form>

    <form action="/emergency" method="post">
      <button type="submit" style="width: 169px; height: 132px; position: absolute; left: 204px; top: 293px; border-radius: 30px; background: #000; border: none;">
      </button>
    </form>

    
    <p
      style="width: 99px; height: 103px; position: absolute; left: 31px; top: 202px; font-size: 24px; font-weight: 700; text-align: left; color: #fff;"
    >
      번개약속
    </p>
    <p
      style="width: 99px; height: 103px; position: absolute; left: 223px; top: 199px; font-size: 24px; font-weight: 700; text-align: left; color: #fff;"
    >
      정기약속
    </p>
    <p
      style="width: 99px; height: 103px; position: absolute; left: 219px; top: 340px; font-size: 24px; font-weight: 700; text-align: left; color: #fff;"
    >
      급구
    </p>
    <p
      style="width: 99px; height: 103px; position: absolute; left: 33px; top: 340px; font-size: 24px; font-weight: 700; text-align: left; color: #313131;"
    >
      친구
    </p>
    <img
      src="static/img/image 4.png"
      style="width: 40px; height: 40px; position: absolute; left: 28px; top: 181px; object-fit: cover;"
    />
    <div style="width: 55px; height: 55px; position: absolute; left: 222px; top: 164px;"></div>
    <img
      src="static/img/시계 1.png"
      style="width: 58px; height: 60px; position: absolute; left: 210px; top: 171px; object-fit: cover;"
    /><img
      src="static/img/확성기 1.png"
      style="width: 45px; height: 45px; position: absolute; left: 216px; top: 323px; object-fit: cover;"
    />
    <div
      style="width: 347px; height: 125px; position: absolute; left: 28.84px; top: 733.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div style="width: 63px; height: 26px; position: absolute; left: 311px; top: 684px;">
      <div
        style="width: 63px; height: 26px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #830e1e;"
      ></div>
      <p
        style="width: 63px; height: 26px; position: absolute; left: -5px; top: 0px; font-size: 14px; font-weight: 700; text-align: center; color: #fff;"
      >
        참여가능
      </p>
    </div>



    
    <div
      style="width: 45px; height: 27px; position: absolute; left: 16px; top: 515px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 66px; top: 515px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 116px; top: 515px; border-radius: 15px; background: #1c6ffd; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 26px; top: 509px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      ALL
    </p>
    <p
      style="position: absolute; left: 77px; top: 509px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      식사
    </p>
    <p
      style="position: absolute; left: 126px; top: 509px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      운동
    </p>
    <div
      style="width: 79px; height: 27px; position: absolute; left: 166px; top: 515px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 49px; height: 27px; position: absolute; left: 250px; top: 515px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 43px; height: 27px; position: absolute; left: 306px; top: 515px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 57px; height: 27px; position: absolute; left: 354px; top: 515px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 181px; top: 509px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      봉사활동
    </p>
    <p
      style="position: absolute; left: 257px; top: 509px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      스터디
    </p>
    <p
      style="position: absolute; left: 316px; top: 509px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      게임
    </p>
    <p
      style="position: absolute; left: 366px; top: 509px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      과제
    </p>
    <div
      style="width: 347px; height: 180px; position: absolute; left: 27.84px; top: 541.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <img
      src="static/img/image 6.png"
      style="width: 329px; height: 116px; position: absolute; left: 38px; top: 559px; border-radius: 10px; object-fit: cover;"
    />
    <p
      style="width: 222px; height: 42px; position: absolute; left: 14px; top: 681px; font-size: 15px; font-weight: 600; text-align: center; color: #000;"
    >
        {{time_table_list[k[0]][0]}} 
    </p>
    <div style="width: 42.4px; height: 17.5px; position: absolute; left: 326px; top: 692px;">
      <div
        style="width: 42px; height: 18px; position: absolute; left: -4.04px; top: -0.67px; border-radius: 3.37px; background: #830e1e;"
      ></div>

      
        <button type="submit" style="width: 169px; height: 132px; position: absolute; left: 204px; top: 293px; border-radius: 30px; background: #000; border: none;">
        </button>
      </form>

      <form action="/matchtime" method="post">
        <button type="submit" style="width: 42px; height: 18px; position: absolute; left: -3.37px; top: 0px; font-size: 8.5px; font-weight: 700; text-align: center; color: #fff; background: none; border: none; cursor: pointer;">
            참여가능
        </button>
      </form>


    </div>
    <img
      src="static/img/image 7.png"
      style="width: 329px; height: 95px; position: absolute; left: 40px; top: 747px; border-radius: 10px; object-fit: cover;"
    /><img
      src="static/img/people_2 1.png"
      style="width: 45px; height: 45px; position: absolute; left: 30px; top: 323px; object-fit: cover;"
    />
  </div>