<div
  style="width: 393px; height: 874px; position: relative; overflow: hidden; background: #1c6ffd;"
>
  <p
    style="width: 222px; height: 42px; position: absolute; left: 86px; top: 399px; font-size: 48px; font-weight: 600; text-align: center; color: #fff;"
  >
    축하해요!
  </p>
  <p
    style="width: 222px; height: 42px; position: absolute; left: 91px; top: 478px; font-size: 24px; font-weight: 600; text-align: center; color: #fff;"
  >
    약속이 확정되었어요!
  </p>
  <p
    style="width: 349px; height: 66px; position: absolute; left: 22px; top: 574px; font-size: 14px; font-weight: 600; text-align: center; color: #fff;"
  >
    <span
      style="width: 349px; height: 66px; font-size: 14px; font-weight: 600; text-align: center; color: #fff;"
      >약속내용을 정리해서</span
    ><br /><span
      style="width: 349px; height: 66px; font-size: 14px; font-weight: 600; text-align: center; color: #fff;"
      >카톡으로 보내줄께요!</span
    >
  </p>
  <div
    style="width: 154px; height: 41px; position: absolute; left: 120px; top: 709px; border-radius: 45px;"
  >
  <form action="/mypage" method="post"> 
    <button type="submit"  style="width: 154px; height: 41px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;">
    <div
      style="width: 154px; height: 41px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #fff;"
    ></div>
    <p
      style="width: 154px; height: 41px; position: absolute; left: -5px; top: 0px; font-size: 20px; font-weight: 700; text-align: center; color: #000;"
    >
      알겠어요!
    </p>
   </form>
  </div>
  <img
    src="static/img/clap_2 1.pnge"
    style="width: 394px; height: 394px; position: absolute; left: -6px; top: 29px; object-fit: cover;"
  />
  <div
    style="width: 346px; height: 115px; position: absolute; left: 21.84px; top: -135.16px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
  ></div>
</div>