<div style="width: 393px; height: 852px; position: relative; overflow: hidden; background: #fff;">
    <p
      style="width: 128px; height: 63px; position: absolute; left: 0px; top: 44px; font-size: 24px; font-weight: 700; text-align: center; color: #000;"
    >
      장원준님
    </p>
    <img
      src="image-2.png"
      style="width: 38px; height: 38px; position: absolute; left: 291px; top: 60px; object-fit: cover;"
    />
    <p
      style="width: 99px; height: 103px; position: absolute; left: 219px; top: 340px; font-size: 24px; font-weight: 700; text-align: left; color: #fff;"
    >
      급구
    </p>
    <div style="width: 55px; height: 55px; position: absolute; left: 222px; top: 164px;"></div>
    <p
      style="width: 286px; height: 42px; position: absolute; left: -65px; top: 122px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      나의 공강 시간표
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: -89px; top: 575px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      나의 일정
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: -89px; top: 456px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      나의 온도
    </p>
    <div
      style="width: 348px; height: 60px; position: absolute; left: 21.84px; top: 623.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 60px; position: absolute; left: 21.84px; top: 501.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 291px; position: absolute; left: 21.84px; top: 163.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 47px; position: absolute; left: 21.84px; top: 163.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <img
      src="image-27.png"
      style="width: 30px; height: 30px; position: absolute; left: 47px; top: 639px; object-fit: cover;"
    />
    <p
      style="width: 263px; height: 30px; position: absolute; left: 56px; top: 640px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      [월요일] 3교시 탕후루 약속
    </p>
    <p
      style="width: 263px; height: 30px; position: absolute; left: 23px; top: 518px; font-size: 30px; font-weight: 700; text-align: center; color: #000;"
    >
      36.5 °C
    </p>
    <div
      style="width: 348px; height: 60px; position: absolute; left: 21.84px; top: 691.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="width: 263px; height: 30px; position: absolute; left: 78px; top: 707px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      JavaScript 별찍기 알려주세요...
    </p>
    <img
      src="확성기_2-2.png"
      style="width: 29px; height: 29px; position: absolute; left: 47px; top: 707px; object-fit: cover;"
    />
    <div
      style="width: 348px; height: 60px; position: absolute; left: 21.84px; top: 759.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="width: 263px; height: 30px; position: absolute; left: 77px; top: 776px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      [매주 월요일] 성북구 도서관 봉사
    </p>
    <img
      src="시계-3.png"
      style="width: 39px; height: 40px; position: absolute; left: 42px; top: 770px; object-fit: cover;"
    /><svg
      width="1"
      height="289"
      viewBox="0 0 1 289"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 119px; top: 164px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="0.5" y1="2.18557e-8" x2="0.499987" y2="289" stroke="#E5E5E5"></line></svg
    ><svg
      width="1"
      height="289"
      viewBox="0 0 1 289"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 181px; top: 166px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="0.5" y1="2.18557e-8" x2="0.499987" y2="289" stroke="#E5E5E5"></line></svg
    ><svg
      width="1"
      height="289"
      viewBox="0 0 1 289"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 246px; top: 166px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="0.5" y1="2.18557e-8" x2="0.499987" y2="289" stroke="#E5E5E5"></line></svg
    ><svg
      width="1"
      height="289"
      viewBox="0 0 1 289"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 310px; top: 166px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="0.5" y1="2.18557e-8" x2="0.499987" y2="289" stroke="#E5E5E5"></line></svg
    ><svg
      width="1"
      height="289"
      viewBox="0 0 1 289"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 63px; top: 164px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="0.5" y1="2.18557e-8" x2="0.499987" y2="289" stroke="#E5E5E5"></line>
    </svg>
    <p
      style="position: absolute; left: 87px; top: 179px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      월
    </p>
    <p
      style="position: absolute; left: 41px; top: 229px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      1
    </p>
    <p
      style="position: absolute; left: 39px; top: 278px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      2
    </p>
    <p
      style="position: absolute; left: 39px; top: 329px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      3
    </p>
    <p
      style="position: absolute; left: 39px; top: 378px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      4
    </p>
    <p
      style="position: absolute; left: 39px; top: 426px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      5
    </p>
    <p
      style="position: absolute; left: 145px; top: 179px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      화
    </p>
    <p
      style="position: absolute; left: 204px; top: 177px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      수
    </p>
    <p
      style="position: absolute; left: 268px; top: 179px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      목
    </p>
    <p
      style="position: absolute; left: 326px; top: 179px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      금
    </p>
    <svg
      width="346"
      height="1"
      viewBox="0 0 346 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 368px; top: 258px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="346" y1="0.5" y2="0.5" stroke="#E5E5E5"></line></svg
    ><svg
      width="346"
      height="1"
      viewBox="0 0 346 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 368px; top: 310px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="346" y1="0.5" y2="0.5" stroke="#E5E5E5"></line></svg
    ><svg
      width="348"
      height="1"
      viewBox="0 0 348 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 370px; top: 363px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="348" y1="0.5" y2="0.5" stroke="#E5E5E5"></line></svg
    ><svg
      width="346"
      height="1"
      viewBox="0 0 346 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 368px; top: 411px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="346" y1="0.5" y2="0.5" stroke="#E5E5E5"></line>
    </svg>
    <div
      style="width: 55px; height: 47px; position: absolute; left: 64px; top: 211px; background: #830e1e;"
    ></div>
    <div
      style="width: 62px; height: 52.98px; position: absolute; left: 118.94px; top: 257.94px; background: #830e1e;"
    ></div>
    <div
      style="width: 63.17px; height: 53.98px; position: absolute; left: 118.93px; top: 309.93px; background: #830e1e;"
    ></div>
    <div
      style="width: 65px; height: 55.55px; position: absolute; left: 180.91px; top: 308.64px; background: #830e1e;"
    ></div>
    <div
      style="width: 65px; height: 55.55px; position: absolute; left: 245.91px; top: 258.91px; background: #830e1e;"
    ></div>
    <div
      style="width: 65px; height: 55.55px; position: absolute; left: 245.91px; top: 310.91px; background: #830e1e;"
    ></div>
    <div
      style="width: 65px; height: 55.55px; position: absolute; left: 180.91px; top: 362.48px; background: #830e1e;"
    ></div>
    <div
      style="width: 65px; height: 55.55px; position: absolute; left: 180.91px; top: 397.48px; background: #830e1e;"
    ></div>
    <div
      style="width: 58px; height: 203px; position: absolute; left: 311px; top: 209px; background: #830e1e;"
    ></div>
    <img
      src="image-29.png"
      style="width: 36px; height: 36px; position: absolute; left: 342px; top: 61px; object-fit: cover;"
    /><img
      src="image-30.png"
      style="width: 38px; height: 38px; position: absolute; left: 37px; top: 514px; object-fit: cover;"
    />
  </div>