<div style="width: 393px; height: 852px; position: relative; overflow: hidden; background: #fff;">
    <p
      style="width: 128px; height: 63px; position: absolute; left: -9px; top: 48px; font-size: 24px; font-weight: 700; text-align: center; color: #000;"
    >
      광운대
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: 27px; top: 116px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      정기 약속을 잡고 갓생을 살아보세요!
    </p>
    <img
      src="static/img/image 2.png"
      style="width: 34px; height: 34px; position: absolute; left: 310px; top: 58px; object-fit: cover;"
    /><img
      src="static/img/image 3.png"
      style="width: 35px; height: 35px; position: absolute; left: 350px; top: 57px; object-fit: cover;"
    />
    <div style="width: 55px; height: 55px; position: absolute; left: 222px; top: 164px;"></div>
    <p
      style="width: 222px; height: 42px; position: absolute; left: 15px; top: 541px; font-size: 15px; font-weight: 600; text-align: center; color: #000;"
    >
      성북구 도서관 봉사하실분?
    </p>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 20px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 70px; top: 164px; border-radius: 15px; background: #fff; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 45px; height: 27px; position: absolute; left: 120px; top: 164px; border-radius: 15px; background: #fff; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 30px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      ALL
    </p>
    <p
      style="position: absolute; left: 81px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      식사
    </p>
    <p
      style="position: absolute; left: 130px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      운동
    </p>
    <div
      style="width: 79px; height: 27px; position: absolute; left: 170px; top: 172px; border-radius: 15px; background: #1c6ffd; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 49px; height: 27px; position: absolute; left: 254px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 43px; height: 27px; position: absolute; left: 310px; top: 163px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <div
      style="width: 57px; height: 27px; position: absolute; left: 358px; top: 164px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 185px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      봉사활동
    </p>
    <p
      style="position: absolute; left: 261px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      스터디
    </p>
    <p
      style="position: absolute; left: 320px; top: 170px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      게임
    </p>
    <p
      style="position: absolute; left: 370px; top: 169px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      과제
    </p>
    <img
      src="static/img/시계 1.png"
      style="width: 39px; height: 40px; position: absolute; left: 9px; top: 115px; object-fit: cover;"
    />
    <div
      style="width: 347px; height: 180px; position: absolute; left: 18.84px; top: 210.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <img
      src="static/img/image 26_1.png"
      style="width: 305px; height: 128px; position: absolute; left: 40px; top: 230px; border-radius: 10px; object-fit: cover;"
    />
    <div
      style="width: 347px; height: 180px; position: absolute; left: 18.84px; top: 210.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <img
      src="static/img/image 26_1.png"
      style="width: 305px; height: 128px; position: absolute; left: 40px; top: 230px; border-radius: 10px; object-fit: cover;"
    />
    <div style="width: 42.4px; height: 17.5px; position: absolute; left: 314px; top: 368px;">
      <div
        style="width: 42px; height: 18px; position: absolute; left: -4.04px; top: -0.67px; border-radius: 3.37px; background: #830e1e;"
      ></div>
      <p
        style="width: 42px; height: 18px; position: absolute; left: -3.37px; top: -2.2px; font-size: 9.423095703125px; font-weight: 700; text-align: center; color: #fff;"
      >
        참여가능
      </p>
    </div>
    <div
      style="width: 347px; height: 180px; position: absolute; left: 17.84px; top: 399.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div style="width: 42.4px; height: 17.5px; position: absolute; left: 314px; top: 553px;">
      <div
        style="width: 42px; height: 18px; position: absolute; left: -4.04px; top: -0.67px; border-radius: 3.37px; background: #830e1e;"
      ></div>
      <p
        style="width: 42px; height: 18px; position: absolute; left: -3.37px; top: -2.2px; font-size: 9.423095703125px; font-weight: 700; text-align: center; color: #fff;"
      >
        참여가능
      </p>
    </div>
    <img
      src="static/img/image 27.png"
      style="width: 305px; height: 134px; position: absolute; left: 40px; top: 408px; border-radius: 10px; object-fit: cover;"
    />
    <div
      style="width: 347px; height: 180px; position: absolute; left: 18.84px; top: 590.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div style="width: 42.4px; height: 17.5px; position: absolute; left: 311px; top: 744px;">
      <div
        style="width: 42px; height: 18px; position: absolute; left: -4.04px; top: -0.67px; border-radius: 3.37px; background: #830e1e;"
      ></div>
      <p
        style="width: 42px; height: 18px; position: absolute; left: -3.37px; top: -2.2px; font-size: 9.423095703125px; font-weight: 700; text-align: center; color: #fff;"
      >
        참여가능
      </p>
    </div>
    <div
      style="width: 347px; height: 180px; position: absolute; left: 17.84px; top: 779.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <img
      src="static/img/image 16.png"
      style="width: 304px; height: 134px; position: absolute; left: 44px; top: 796px; border-radius: 10px; object-fit: cover;"
    /><img
      src="image-27.png"
      style="width: 305px; height: 124px; position: absolute; left: -182px; top: -215px; border-radius: 10px; object-fit: cover;"
    />
    <p
      style="width: 263px; height: 42px; position: absolute; left: 8px; top: 353px; font-size: 12.5px; font-weight: 600; text-align: center; color: #000;"
    >
      어린이집에서 봉사하실분을 모집합니다
    </p>
    <p
      style="width: 263px; height: 42px; position: absolute; left: 8px; top: 542px; font-size: 12.5px; font-weight: 600; text-align: center; color: #000;"
    >
      성북구에서 도서관 봉사하실분 구합니다
    </p>
    <p
      style="width: 263px; height: 42px; position: absolute; left: -13px; top: 730px; font-size: 12.5px; font-weight: 600; text-align: center; color: #000;"
    >
      [동대문구청] 쓰레기 줍기 활동
    </p>
    <img
      src="static/img/image 28.png"
      style="width: 303px; height: 135px; position: absolute; left: 44px; top: 599px; border-radius: 10px; object-fit: cover;"
    />
  </div>