<div style="width: 393px; height: 874px; position: relative; overflow: hidden; background: #fff;">
    <p
      style="width: 128px; height: 63px; position: absolute; left: -9px; top: 48px; font-size: 24px; font-weight: 700; text-align: center; color: #000;"
    >
      광운대
    </p>
    <img
      src="static/img/image 2.png"
      style="width: 34px; height: 34px; position: absolute; left: 310px; top: 58px; object-fit: cover;"
    /><img
      src="static/img/image 3.png"
      style="width: 35px; height: 35px; position: absolute; left: 350px; top: 57px; object-fit: cover;"
    />
    <p
      style="width: 222px; height: 42px; position: absolute; left: 0px; top: 407px; font-size: 24px; font-weight: 600; text-align: center; color: #000;"
    >
      선배 탕후루 먹어요!
    </p>
    <p
      style="width: 421px; height: 42px; position: absolute; left: 45px; top: 596px; font-size: 12px; font-weight: 600; text-align: left; color: #656363;"
    >
      <span
        style="width: 421px; height: 42px; font-size: 12px; font-weight: 600; text-align: left; color: #656363;"
        >안녕하세요! 저는 24학번 장원준입니다.</span
      ><br /><span
        style="width: 421px; height: 42px; font-size: 12px; font-weight: 600; text-align: left; color: #656363;"
        >학교 앞에 있는 마라탕후루에서 탕후루 드실분을 모집하고 있습니다.</span
      >
    </p>
    <p
      style="width: 421px; height: 42px; position: absolute; left: 45px; top: 465px; font-size: 12px; font-weight: 600; text-align: left; color: #656363;"
    >
      월요일 3교시 공강시간
    </p>
    <p
      style="width: 421px; height: 42px; position: absolute; left: 45px; top: 541px; font-size: 12px; font-weight: 600; text-align: left; color: #656363;"
    >
      더치페이
    </p>
    <p
      style="width: 421px; height: 42px; position: absolute; left: 45px; top: 494px; font-size: 16px; font-weight: 900; text-align: left; color: #239d83;"
    >
      나의 공강시간과 맞아요!
    </p>
    <div style="width: 154px; height: 41px; position: absolute; left: 37px; top: 772px;">

    <form action="/chatting" method="post">
        <button type="submit" style="width: 154px; height: 41px; position: absolute; left: -6px; top: -1px; border-radius: 5px; background: #1c6ffd;">
      <p
        style="width: 154px; height: 41px; position: absolute; left: -5px; top: 0px; font-size: 14px; font-weight: 700; text-align: center; color: #fff;"
      >
        채팅하기
      </p>
    </div>
    </button>
    </form>


    <div style="width: 154px; height: 41px; position: absolute; left: 204px; top: 772px;">
      <form action="/meet_successful" method="post">
        <button type="submit" style= "width: 154px; height: 41px; position: absolute; border-radius: 5px; left: -6px; top: 0px; font-size: 14px; font-weight: 700; text-align: center; background: #830e1e;">
      <p
        style="width: 154px; height: 41px; position: absolute; left: -5px; top: 0px; font-size: 14px; font-weight: 700; text-align: center; color: #fff;"
      >
        약속확정
      </p>
    </div>
    </button>
    </form>
    <img
      src="static/img/image 11.png"
      style="width: 360px; height: 198px; position: absolute; left: 16px; top: 159px; border-radius: 10px; object-fit: cover;"
    /><img
      src="static/img/image 21.png"
      style="width: 26px; height: 26px; position: absolute; left: 10px; top: 603px; object-fit: cover;"
    /><img
      src="static/img/image 22.png"
      style="width: 24px; height: 24px; position: absolute; left: 12px; top: 473px; object-fit: cover;"
    /><img
      src="static/img/image 23.png"
      style="width: 26px; height: 26px; position: absolute; left: 10px; top: 548px; object-fit: cover;"
    />
    <div
      style="width: 115px; height: 27px; position: absolute; left: 14px; top: 376px; border-radius: 15px; background: #1c6ffd; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 22px; top: 382px; font-size: 13px; font-weight: 700; text-align: right; color: #fff;"
    >
      학교 정문에서 1분
    </p>
    <div
      style="width: 72px; height: 27px; position: absolute; left: 132px; top: 376px; opacity: 0.2; border-radius: 15px; border-width: 2px; border-color: #f2f2f2;"
    ></div>
    <div
      style="width: 85px; height: 27px; position: absolute; left: 213px; top: 501px; border-radius: 15px; border-width: 1px; border-color: #f1f1f1;"
    ></div>
    <p
      style="position: absolute; left: 221px; top: 509px; font-size: 10px; font-weight: 700; text-align: right; color: #000;"
    >
      나의 시간표 보기
    </p>
    <p
      style="position: absolute; left: 147px; top: 382px; font-size: 13px; font-weight: 700; text-align: right; color: #000;"
    >
      24학번
    </p>
  </div>