<div style="width: 393px; height: 852px; position: relative; overflow: hidden; background: #fff;">
    <p
      style="width: 128px; height: 63px; position: absolute; left: -21px; top: 44px; font-size: 24px; font-weight: 700; text-align: center; color: #000;"
    >
      설정
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: -91px; top: 107px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      개인정보
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: -98px; top: 311px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      사용자
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: -89px; top: 664px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      고객센터
    </p>
    <p
      style="width: 286px; height: 42px; position: absolute; left: -105px; top: 458px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      알림
    </p>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 249.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 152.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 607.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 199.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 351.84px; border-radius: 13.26px; background: #f00; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 23.84px; top: 402.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 503.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 503.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 503.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 710.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 57px; height: 26px; position: absolute; left: 297.84px; top: 254.84px; border-radius: 13.26px; background: #e3e3e3; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 37px; height: 26px; position: absolute; left: 297.84px; top: 254.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 57px; height: 26px; position: absolute; left: 297.84px; top: 508.84px; border-radius: 13.26px; background: #e3e3e3; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 37px; height: 26px; position: absolute; left: 297.84px; top: 508.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -47px; top: 157px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      비밀번호 변경
    </p>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -47px; top: 205px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      계정 비활성화
    </p>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -38px; top: 356px; font-size: 16px; font-weight: 700; text-align: center; color: #fff;"
    >
      차단 사용자 관리
    </p>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -62px; top: 715px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      신고하기
    </p>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 760.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -62px; top: 765px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      문의하기
    </p>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -64px; top: 407px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      언어설정
    </p>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -64px; top: 508px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      야간알림
    </p>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -64px; top: 612px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      채팅알림
    </p>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 555.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 555.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 348px; height: 36px; position: absolute; left: 21.84px; top: 555.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 57px; height: 26px; position: absolute; left: 297.84px; top: 560.84px; border-radius: 13.26px; background: #1c6ffd; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 35px; height: 26px; position: absolute; left: 319.84px; top: 560.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 57px; height: 26px; position: absolute; left: 297.84px; top: 612.84px; border-radius: 13.26px; background: #1c6ffd; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <div
      style="width: 35px; height: 26px; position: absolute; left: 319.84px; top: 612.84px; border-radius: 13.26px; background: #fff; border-width: 1.33px; border-color: #e3e3e3;"
    ></div>
    <p
      style="width: 263px; height: 30px; position: absolute; left: -55px; top: 560px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      PUSH 알림
    </p>
    <p
      style="position: absolute; left: 38px; top: 259px; font-size: 16px; font-weight: 700; text-align: center; color: #000;"
    >
      내 시간표 숨기기
    </p>
  </div>